{% extends '_base.html' %}
{% load static %}
{% block title %}My Guard Portal | Dumagete Agency{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/_profile.css' %}">
{% endblock %}
{% block content %}
    {% include 'components/guard-navbar.html' %}
    <section class="container">
        <h1>My Guard Portal</h1>
        <main>
            <div>
                <h1>Guard Information</h1>
            </div>
            <div>
                <h1>Current Job</h1>
            </div>
            <div>
                <h1>Invoice</h1>
            </div>
            <div>
                <h1>Report</h1>
                <h2>ArcGIS Survey 123</h2>
            </div>
        </main>
    </section>
{% endblock %}
