<div class="overview-container">
    <div class="dashboard-card-small">
        <p>Total</p>
        <h1>
            <calcite-icon icon="users"></calcite-icon>  {{ total_guards }}
        </h1>
    </div>
    <div class="dashboard-card-small">
        <p>On Duty</p>
        <h1>
            <calcite-icon icon="user-calendar"></calcite-icon> {{ on_duty_guards }}
        </h1>
    </div>
    <div class="dashboard-card-small">
        <p>On Leave</p>
        <h1>
            <calcite-icon icon="user-x"></calcite-icon> {{ leave_guards }}
        </h1>
    </div>
    <div class="dashboard-card-small">
        <p>Completed</p>
        <h1>
            <calcite-icon icon="projects"></calcite-icon> {{ completed_guards }}
        </h1>
    </div>
</div>
