<main class="profile">
    <section>
        <h2>Billing Overview</h2>
        <div class="grid">
            <div>
                <p>Current Billing</p>
                <h4>Php 43,000.00</h4>
            </div>
            <div>
                <p>Total Spent</p>
                <h4>Php 1,233,000.00</h4>
            </div>
        </div>
    </section>
    <section>
        <h2>Latest Invoice</h2>
        <div>12341234</div>
    </section>
    <section>
        <h2>Invoice History</h2>
        <div>
            <p>Hello Invoice</p>
        </div>
    </section>
</main>
