<main class="profile">
    <section>
        <h2>Information</h2>
        <div class="grid">
            <div>
                <p>client name</p>
                <h4>
                    <calcite-icon scale="s" icon="address-book"></calcite-icon>
                    {{ client.name }}
                </h4>
            </div>
            <div>
                <p>client organization</p>
                <h4>
                    <calcite-icon scale="s" icon="pin"></calcite-icon>
                    {{ client.organization }}
                </h4>
            </div>
            <div>
                <p>client id</p>
                <h4>
                    <calcite-icon scale="s" icon="license"></calcite-icon>
                    {{ client.client_id }}
                </h4>
            </div>
            <div>
                <p>location</p>
                <h4>
                    <calcite-icon scale="s" icon="pin"></calcite-icon>
                    {{ client.location }}
                </h4>
            </div>
            <div>
                <p>joined since</p>
                <h4>
                    <calcite-icon scale="s" icon="user-plus"></calcite-icon>
                    {{ client.created_at|date:"M d, Y" }}
                </h4>
            </div>
        </div>
    </section>
    <section>
        <h2>Contact Information</h2>
        <div class="grid">
            <div>
                <p>contact person</p>
                <h4>
                    <calcite-icon scale="s" icon="user"></calcite-icon>
                    {{ client.contact_person }}
                </h4>
            </div>
            <div>
                <p>email</p>
                <h4>
                    <calcite-icon scale="s" icon="email-address"></calcite-icon>
                    {{ client.email }}
                </h4>
            </div>
            <div>
                <p>phone</p>
                <h4>
                    <calcite-icon scale="s" icon="phone"></calcite-icon>
                    {{ client.phone }}
                </h4>
            </div>
        </div>
    </section>
</main>
