{% load humanize %}
<main class="profile">
    <h1>Overview</h1>

    <div class="overview-container">
        <div class="dashboard-card">
            <p>Total Billings</p>
            <h1>₱ {{ total_billings|floatformat:2|intcomma|default:"N/A" }}</h1>
        </div>
        <div class="dashboard-card">
            <p>Total Invoices</p>
            <h1>₱ {{ total_invoices|floatformat:2|intcomma|default:"N/A" }}</h1>
        </div>
        <div class="dashboard-card">
            <p>Total Payments</p>
            <h1>₱ {{ total_payments|floatformat:2|intcomma|default:"N/A" }}</h1>
        </div>
        <div class="dashboard-card">
            <p>Outstanding Balance</p>
            <h1>₱ {{ outstanding|floatformat:2|intcomma|default:"N/A" }}</h1>
        </div>
    </div>
    <div>
        <h2>Montly Revenue</h2>
        <p>Comming Soon</p>
    </div>
    <div>

    </div>

    <section>
        <h2>Billings</h2>
        <p>Comming Soon</p>
    </section>
    <section>
        <h2>Invoices</h2>
        <p>Comming Soon</p>
    </section>
    <section>
        <h2>Payments</h2>
        <p>Comming Soon</p>
    </section>
</main>
