{% load humanize %}
<main class="profile">
    <h1>Overview</h1>
    <div>{% include 'overview/summary_card.html' %}</div>
    <div>{% include 'overview/chart_yearly.html' %}</div>
    <div class="dashboard-column">
        <section>
            <h2>Recent Payments</h2>
            {% include 'overview/table_payments.html' %}
        </section>
        <section>
            <h2>Upcoming Due Invoice</h2>
            {% include 'overview/table_invoices.html' %}
        </section>
    </div>
    <div>
        <section>
            <h2>Recent Billings</h2>
            {% include 'overview/table_billings.html' %}
        </section>
    </div>
</main>
