{# djlint:off #}
{% load humanize %}

{% if not recent_billings %}

    <calcite-notice open kind="info">
        <div slot="message">
            No recent billings found.
        </div>
    </calcite-notice>

{% else %}

<calcite-table bordered>

    <calcite-table-row slot="table-header">
        <calcite-table-header heading="Billing No."></calcite-table-header>
        <calcite-table-header heading="Contract"></calcite-table-header>
        <calcite-table-header heading="Client"></calcite-table-header>
        <calcite-table-header heading="Amount"></calcite-table-header>
        <calcite-table-header heading="Due Date"></calcite-table-header>
        <calcite-table-header heading="Status"></calcite-table-header>
        <calcite-table-header heading="Action"></calcite-table-header>
    </calcite-table-row>

    {% for billing in recent_billings %}

    <calcite-table-row>

        <calcite-table-cell>
            <strong>{{ billing.billing_number }}</strong>
        </calcite-table-cell>

        <calcite-table-cell>
            {{ billing.contract.contract_number }}
        </calcite-table-cell>

        <calcite-table-cell>
            <strong>{{ billing.contract.client.name }}</strong>
            <br>
            <small>{{ billing.contract.client.organization}}</small>
            
        </calcite-table-cell>

        <calcite-table-cell>
            <strong>₱ {{ billing.total_amount|floatformat:2|intcomma }}</strong>
        </calcite-table-cell>

        <calcite-table-cell>
            {{ billing.due_date }}
        </calcite-table-cell>

        <calcite-table-cell>
            {{ billing.get_status_display }}
        </calcite-table-cell>

        <calcite-table-cell alignment="end">
            <calcite-dropdown placement="bottom-end">
                <calcite-button slot="trigger" icon-start="ellipsis" appearance="transparent" scale="s"> </calcite-button>
                <calcite-dropdown-group selection-mode="none">
                    <calcite-dropdown-item href="{% url 'finances:billing_details' billing.id %}">View Billing </calcite-dropdown-item>
                    <calcite-dropdown-item href="{% url 'finances:billing_edit' billing.id %}">Edit Billing</calcite-dropdown-item>
                </calcite-dropdown-group>
            </calcite-dropdown>
        </calcite-table-cell>  

    </calcite-table-row>

    {% endfor %}

</calcite-table>

<div class="button-actions">
    <calcite-button 
        appearance="outline-fill" 
        icon-start="arrow-right"
        href="{% url 'finances:finances_billings' %}"
    >View More</calcite-button>
</div>

{% endif %}
{# djlint:on #}
