{% extends "_base.html" %}
{% load static %}
{% block title %}Manual New Payment | Dumaguete Guards{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/deployment.css' %}">
{% endblock %}
{% block content %}
    {% include "components/client-navbar.html" %}
    <div class="form-container">
        <header class="page-header">
            <a href="#" id="backButton">
                <calcite-icon icon="chevron-left"></calcite-icon>
                Back to Payments
            </a>
            <h2>Manual New Payment</h2>
        </header>
        <div class="deployment-create-container">
            <div class="deployment-layout">{% include 'forms/payment_form.html' %}</div>
        </div>
    </div>
{% endblock %}
