{% extends "_base.html" %}
{% block title %}Edit Deployment | Dumagete Guards{% endblock %}
{% block content %}
    {% include '_components/navbar.html' %}
    <div class="form-container">
        <header>
            <a href="{% url 'operations:deployment_update' deployment.id %}"
                id="backButton">
                <calcite-icon icon="chevron-left"></calcite-icon>
                Back to Deployment Detail
            </a>
            <h2>Edit Deployment</h2>
            <p>{{ deployment.name }} | {{ deployment.location }}</p>
            <p>{{ deployment.client_name }}{{ deployment.client_organization }}</p>
            <p>{{ deployment.contract_number }}</p>
            {% include "_partials/_forms/deployment_update_form.html" %}
        </header>
    </div>
{% endblock %}
