{% extends "_base.html" %}
{% load static %}
{% block title %}New Deployment | Dumagete Guards{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/deployment.css' %}">
{% endblock %}
{% block content %}
    {% include "_components/navbar.html" %}
    <div class="form-container">
        <header class="page-header">
            <a href="#" id="backButton">
                <calcite-icon icon="chevron-left"></calcite-icon>
                Back to Contracts
            </a>
            <h2>New Deployment</h2>
        </header>
        <div class="deployment-create-container">
            <div class="deployment-layout">{% include '_partials/_forms/deployment_formset.html' %}</div>
            {% if contract %}
                <div class="contract-list">{% include 'deployment/deployment_contract_view.html' %}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extra_script %}
    <script src="{% static 'js/addForm.js' %}"></script>
{% endblock %}
