{% extends "_base.html" %}
{% load static %}
{% block title %}Deployment Details | Dumagete Guards{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/overview.css' %}">
{% endblock %}
{% block content %}
    {% include "_components/navbar.html" %}
    <main class="container profile">
        <a href="#" id="backButton">
            <calcite-icon icon="chevron-left"> </calcite-icon>
            Back to Operation Dashboard
        </a>
        <header>
            <div>
                <div class="column">
                    <h1>Deployment Details</h1>
                    {% if deployment.is_active %}
                        <calcite-chip kind="brand" appearance="solid">Active</calcite-chip>
                    {% else %}
                        <calcite-chip kind="inverse" appearance="outline-fill">Inactive</calcite-chip>
                    {% endif %}
                </div>
            </div>
            <div>
                <calcite-button href="{% url 'operations:deployment_update' deployment.pk %}">Edit Deployment</calcite-button>
            </div>
        </header>
        <div class="dashboard-column">
            <section>
                <h2>Deployment Information</h2>
                <div class="grid">
                    <div>
                        <p>Deployment Name</p>
                        <h4>{{ deployment.name }}</h4>
                    </div>
                    <div>
                        <p>Deployment Location</p>
                        <h4>{{ deployment.location }}</h4>
                    </div>
                    <div>
                        <p>Remarks</p>
                        <h4>{{ deployment.remarks|default:"-" }}</h4>
                    </div>
                </div>
            </section>
            <section>
                <h2>Contract Information</h2>
                <div class="grid">
                    <div>
                        <p>Client Name</p>
                        <h4>{{ deployment.contract.client.name }}</h4>
                    </div>
                    <div>
                        <p>Client Organization</p>
                        <h4>{{ deployment.contract.client.organization }}</h4>
                    </div>
                    <div>
                        <p>Contract Number</p>
                        <h4>{{ deployment.contract.contract_number }}</h4>
                    </div>
                    <div>
                        <p>Contract Span</p>
                        <h4>{{ deployment.contract.start_date|date:'m/d/y' }} - {{ deployment.contract.end_date|date:'m/d/y' }}</h4>
                    </div>
                    <div>
                        <p>Remarks</p>
                        <h4>{{ deployment.contract.remarks }}</h4>
                    </div>
                </div>
            </section>
        </div>
        <section>
            <header>
                <h2>Guards Section</h2>
                <calcite-button icon-start="plus" appearance="outline-fill" scale="s" href="{% url 'operations:assignment_create_deployment' deployment.id %}">Assign Guard</calcite-button>
            </header>
            <div class="card-vertical-space">
                <calcite-chip>
                    {{ deployment.required_guards }} Required
                </calcite-chip>

                <calcite-chip>
                    {{ deployment.assigned_guard_count }}  Assigned
                </calcite-chip>

                <calcite-chip>
                    {{ deployment.vacant_guard_count }}  To Fill
                </calcite-chip>
            </div>
            
            {% include '_partials/deployment/table_detail.html' %}
        </section>
    {% endblock %}
</main>
{% block extra_script %}
    <script src="{% static 'js/addForm.js' %}"></script>
{% endblock %}
