<div class="sidebar">
  <div class="sidebar-content">
    <h1>Client Dashboard</h1>
  </div>
  <main>
    <a href="">
      <calcite-icon icon="dashboard-graph"></calcite-icon> Dashboard
    </a>
    <a href=""> <calcite-icon icon="user"></calcite-icon>Information</a>
    <a href=""> <calcite-icon icon="security"></calcite-icon>Guards</a>
    <a href=""> <calcite-icon icon="script"></calcite-icon>Billing</a>
    <a href=""> <calcite-icon icon="file-report"></calcite-icon>Reports</a>
  </main>
</div>
