<main class="profile">
    <section>
        <h2>General Guards Information</h2>
        <div class="grid">
            <div>
                <p>Active Guards</p>
                <h4><calcite-icon icon="user" scale="s"></calcite-icon> 5</h4>
            </div>
            <div>
                <p>Inactive Guards</p>
                <h4><calcite-icon icon="user-x" scale="s"></calcite-icon> 2</h4>
            </div>
            <div>
                <p>Total Guard Hired</p>
                <h4><calcite-icon icon="users" scale="s"></calcite-icon>  13</h4>
            </div>
        </div>
    </section>
    <section>
        <h2>Guards on Duty</h2>
        <div>
            <p>guard 1</p>
            <p>guard 2</p>
            <p>guard 3</p>
        </div>
    </section>
    <section>
        <h2>Guards History</h2>
                <div>
            <p>guard 1</p>
            <p>guard 2</p>
            <p>guard 3</p>
        </div>
    </section>
</main>
