{% extends '_base.html' %}
{% load static %}
{% block title %}Agency | Guards{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/_agency_page.css' %}">
{% endblock %}
{% block content %}
    {% include '_components/navbar.html' %}
    <section class="container">
        <h1>Agency Dashboard</h1>
        <main class="dashboard">
            <a href="{% url 'agency:show_clients' %}" class="dashboard-card">
                <calcite-icon slot="thumbnail" icon="organization" scale="l">
                </calcite-icon>
                <h2>Clients</h2>
                <p>View and manage all client companies.</p>
            </a>
            <a href="{% url 'agency:show_contracts' %}" class="dashboard-card">
                <calcite-icon icon="partner" scale="l">
                </calcite-icon>
                <h2>Contracts</h2>
                <p>View and manage all contracts between clients</p>
            </a>
            <a href="{% url 'agency:show_guards' %}" class="dashboard-card">
                <calcite-icon icon="address-book" scale="l">
                </calcite-icon>
                <h2>Guards</h2>
                <p>View and manage all guards.</p>
            </a>
            <a href="" class="dashboard-card">
                <calcite-icon icon="list-check" scale="l">
                </calcite-icon>
                <h2>Operations</h2>
                <p>View and manage all operations</p>
            </a>
        </main>
    </section>
{% endblock %}
