{% extends '_base.html' %}
{% load static %}
{% block title %}Client Profile | Guards{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/_profile.css' %}">
{% endblock %}
{% block content %}

    <div class="dashboard-container ">
        <aside class="dashboard-sidebar">
            {% include 'components/sidebar.html' %}
        </aside>
    
        <section class="dashboard-content">
            {% include 'components/navbar-dashboard.html' %}
    
            <main class="container profile">
                <a href="{% url 'clients' %}">
                    <calcite-icon icon="chevron-left"> </calcite-icon>
                    Back to Clients
                </a>
                <header>
                    <div>
                        <h1>{{ client.name }}</h1>
                        <p>{{ client.organization }}</p>
                    </div>
                    <div>
                        <calcite-button appearance="outline-fill">Deactivate</calcite-button>
                        <calcite-button>Edit</calcite-button>
                    </div>
                </header>
                <section>
                    <h2>Contact</h2>
                    <div class="grid">
                        <div>
                            <p>email</p>
                            <h4>
                                <calcite-icon scale="s" icon="envelope"></calcite-icon> 
                                {{ client.email }}
                            </h4>
                        </div>
                        <div>
                            <p>phone</p>
                            <h4>
                                <calcite-icon scale="s" icon="phone"></calcite-icon>   
                                {{ client.phone }}
                            </h4>
                        </div>
                        <div>
                            <p>client since</p>
                            <h4>{{ client.created_at|date:"M d, Y" }}</h4>
                        </div>
                    </div>
                </section>
                <section>
                    <h3>Active Guard/s</h3>
                    <h4>
                        guard 1
                    </p>
                    <p>guard 2</p>
                </section>
                <section>
                    <h3>Guards History</h3>
                </section>
                <section>
                    <h3>Invoice History</h3>
                    <div>
                        <p>kust 1</p>
                        <p>kust 1</p>
                        <p>kust 1</p>
                    </div>
                </section>
            </main>
    
        </section>
    </div>



{% endblock %}
