{% extends '_base.html' %}
{% load static %}
{% block title %}Client Page | Guards{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/_page.css' %}" />
{% endblock %}
{% block content %}
    {% include 'components/navbar-with-choice.html' %}
    <section class="dashboard container">
        <a href="{% url 'agency:home' %}">
            <calcite-icon icon="chevron-left"> </calcite-icon>
            Back to Dashboard
        </a>
        <h1>Clients</h1>
        <header>
            <div>
                <form method="get" class="flex">
                    <calcite-input type="search" name="search" placeholder="Search clients" icon="search" value="{{ search|default:'' }}">
                    </calcite-input>
                    <calcite-button type="submit">Search</calcite-button>
                </form>
                <a href="{% url 'agency:show_clients' %}"
                   class="{% if not is_active %}active{% endif %}">All</a>
                <a href="?status=active"
                   class="{% if is_active == 'active' %}active{% endif %}">Active</a>
                <a href="?status=inactive"
                   class="{% if is_active == 'inactive' %}active{% endif %}">Inactive</a>
            </div>
            <calcite-button href="{% url 'agency:client_create' %}" icon-start="plus">Add Client</calcite-button>
        </header>
        {% if not clients %}
            <p>No Clients Available</p>
        {% endif %}
        {% for client in clients %}
            <a href="{% url 'agency:client_profile' client.id %}" class="list-card">
                <div>
                    <div></div>
                    <div>
                        <div class="column">
                            <h2>{{ client.name }}</h2>
                            {% if client.is_active %}
                                <calcite-chip appearance="outline-fill" kind="inverse" scale="s">
                                Active
                                </calcite-chip>
                            {% else %}
                                <calcite-chip appearance="solid" kind="neutral" scale="s">
                                Inactive
                                </calcite-chip>
                            {% endif %}
                        </div>
                        <p>
                            <calcite-icon icon="home" scale="s"></calcite-icon>{{ client.location }}
                        </p>
                    </div>
                </div>
                <div>
                    <p>
                        <calcite-icon icon="envelope" scale="s"></calcite-icon>
                        {{ client.email }}
                    </p>
                    <p>
                        <calcite-icon icon="date-time" scale="s"></calcite-icon>
                        {{ client.next_billing_date }}
                    </p>
                </div>
            </a>
        {% endfor %}
    </section>
{% endblock %}
