{% extends '_base.html' %}
{% load static %}
{% block title %}Operation Page | Dumagete Guards{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/_page.css' %}">
{% endblock %}
{% block content %}
    {% include 'components/navbar.html' %}
    <section class="dashboard container">
        <a href="{% url 'agency:home' %}">
            <calcite-icon icon="chevron-left"> </calcite-icon>
            Back to Dashboard
        </a>
        <h1>Contracts</h1>
        <header class="header">
            <div>
                <form method="get" class="flex">
                    <calcite-input type="search" name="search" placeholder="Contract Number, Company Name" icon="search" value="{{ search|default:'' }}">
                    </calcite-input>
                    <calcite-button type="submit">Search</calcite-button>
                </form>
                <!-- Might flag this one -->
                <a href="{% url 'agency:show_contracts' %}"
                   class="{% if not status %}active{% endif %}">All</a>
                <a href="?status=pending"
                   class="{% if status == 'pending' %}active{% endif %}">Pending</a>
                <a href="?status=ongoing"
                   class="{% if status == 'ongoing' %}active{% endif %}">Ongoing</a>
                <a href="?status=finished"
                   class="{% if status == 'finished' %}active{% endif %}">Finished</a>
                <a href="?status=cancelled"
                   class="{% if status == 'cancelled' %}active{% endif %}">Cancelled</a>
            </div>
            <calcite-button href="{% url 'agency:contract_create' %}"  icon-start="plus">Add Contract</calcite-button>
        </header>
        {% include 'components/contract/tables.html' %}
    </section>
{% endblock %}
