{% extends '_base.html' %}
{% load static %}
{% block title %}Operation Page | Dumagete Guards{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/_page.css' %}">
{% endblock %}
{% block content %}
    {% include 'components/navbar.html' %}
    <section class="dashboard container">
        <a href="{% url 'agency:home' %}">
            <calcite-icon icon="chevron-left"> </calcite-icon>
            Back to Dashboard
        </a>
        <h1>Contracts</h1>
        <header class="header">
            <div>
                <form method="get" class="flex">
                    <calcite-input type="search" name="search" placeholder="Search name and location`" icon="search" value="{{ search|default:'' }}">
                    </calcite-input>
                    <calcite-button type="submit">Search</calcite-button>
                </form>
                <!-- Might flag this one -->
                <a href="{% url 'agency:show_contracts' %}"
                   class="{% if not is_active %}active{% endif %}">All</a>
                <a href="?status=active"
                   class="{% if is_active == 'active' %}active{% endif %}">Active</a>
                <a href="?status=inactive"
                   class="{% if is_active == 'inactive' %}active{% endif %}">Inactive</a>
            </div>
            <calcite-button href="{% url 'agency:guard_create' %}"  icon-start="plus">Add Guard</calcite-button>
        </header>
        {% include 'components/contract/tables.html' %}
    </section>
{% endblock %}
