{# djlint:off #}
{% load humanize %}

{% if not available_guards %}

    <calcite-notice open kind="info">
        <div slot="message">
            No guards found.
        </div>
    </calcite-notice>

{% else %}

<calcite-table bordered numbered pageSize=5>

    <calcite-table-row slot="table-header"> 
        <calcite-table-header heading="Guard ID"></calcite-table-header>
        <calcite-table-header heading="Guard Name"></calcite-table-header>
        <calcite-table-header heading="Phone"></calcite-table-header>
        <calcite-table-header heading="Email"></calcite-table-header>
        <calcite-table-header heading="Status"></calcite-table-header>
        <calcite-table-header heading="Assigned On"></calcite-table-header>
    </calcite-table-row>

    {% for guard in available_guards%}    
    
    <calcite-table-row>
        
        <calcite-table-cell>
            {{ guard.badge_number }}
        </calcite-table-cell>

        <calcite-table-cell>
            <strong>{{ guard.first_name }} {{ guard.middle_name|capfirst|slice:":1" }}. {{ guard.last_name}} </strong>
        </calcite-table-cell>

        <calcite-table-cell>
            {{ guard.phone_number }}
        </calcite-table-cell>

        <calcite-table-cell>
            {{ guard.email }}
        </calcite-table-cell>

        <calcite-table-cell>
            {{ guard.status }}
        </calcite-table-cell>

        <calcite-table-cell>
            {% if guard.active_assignments %}
                {% with assignment=guard.active_assignments.0 %}
                    {{ assignment.start_date|date:"m/d/y" }}
                    <br>
                    to {{ assignment.end_date|date:"m/d/y" }}
                {% endwith %}
            {% else %}
                -
            {% endif %}
        </calcite-table-cell>

    </calcite-table-row>

{% endfor %}

</calite-table>

{% endif %}

{# djlint:on #}
