<nav class="navbar container-navbar">
    <main>
        <a href="{% url 'agency:home' %}">
            <h1>Dumaguete Guards Agency</h1>
        </a>
        <section>
            <div>
                <h4>{{ request.user.first_name|default:request.user.username }}</h4>
                <p>{{ request.user.get_role_display|capfirst }}</p>
            </div>
            <div>
                <form method="post" action="{% url 'accounts:staff_logout' %}">
                    {% csrf_token %}
                    <calcite-button type="submit" scale="l">Logout</calcite-button>
                </form>
            </div>
        </section>
    </main>
</nav>
