{# djlint:off #}
{% if not contracts %}
    <calcite-notice open kind="info">
        <div slot="message">No contracts found.</div>
    </calcite-notice>
{% else %}
    <calcite-table 
        caption="Contracts" 
        bordered striped numbered page-size="20" 
        current-page="0" 
        layout="auto" 
        interaction-mode="interactive"
    >
        <calcite-table-row slot="table-header">
        <calcite-table-header heading="Contract"></calcite-table-header>
        <calcite-table-header heading="Client"></calcite-table-header>
        <calcite-table-header heading="Required Guards" alignment="center"></calcite-table-header>
        <calcite-table-header heading="Duration"></calcite-table-header>
        <calcite-table-header heading="Created on"></calcite-table-header>
        <calcite-table-header heading="Status"></calcite-table-header>
        <calcite-table-header alignment="end"></calcite-table-header>
    </calcite-table-row>
    {% for contract in contracts %}
        <calcite-table-row>
            <calcite-table-cell>
            <strong>{{ contract.contract_number }}</strong>
            <br>
            <small>{{ contract.title }}</small>
        </calcite-table-cell>
            <calcite-table-cell>
            <strong>{{ contract.client.name }}</strong>
            <br>
            <small>{{ contract.client.organization }}</small>
        </calcite-table-cell>
        <calcite-table-cell alignment="center">
            <calcite-chip appearance="outline-fill" scale="s">
                {{ contract.number_of_guards }}
            </calcite-chip>
        </calcite-table-cell>
        <calcite-table-cell>
            {{ contract.start_date|date:"M d, Y" }}
            {% if contract.end_date %}
                <br>
                <small>to {{ contract.end_date|date:"M d, Y" }}</small>
            {% endif %}
        </calcite-table-cell>
        <calcite-table-cell>
            <span>{{ contract.created_at|date:"m/d/Y" }}</span>
        </calcite-table-cell>
        <calcite-table-cell>
            {% if contract.status == "draft" %}
                <calcite-chip kind="neutral" scale="s" appearance="outline">Draft</calcite-chip>
            {% elif contract.status == "pending" %}
                <calcite-chip kind="neutral" scale="s" appearance="outline-fill">Pending</calcite-chip>
            {% elif contract.status == "ongoing" %}
                <calcite-chip kind="inverse" scale="s" appearance="outline-fill">Ongoing</calcite-chip>
            {% elif contract.status == "finished" %}
                <calcite-chip kind="brand" scale="s">Finished</calcite-chip>
            {% else %}
                <calcite-chip kind="inverse" scale="s">Cancelled</calcite-chip>
            {% endif %}
        </calcite-table-cell>
        <calcite-table-cell alignment="end">
            <calcite-dropdown>
                <calcite-button slot="trigger" icon-start="ellipsis" appearance="transparent" scale="s"> </calcite-button>
                <calcite-dropdown-group selection-mode="none">
                    <calcite-dropdown-item href="{% url 'agency:contract_profile' contract.id %}"> View Details </calcite-dropdown-item>
                    <calcite-dropdown-item href="{% url 'agency:contract_update' contract.id %}"> Edit Information</calcite-dropdown-item>
                </calcite-dropdown-group>
            </calcite-dropdown>
        </calcite-table-cell>
    </calcite-table-row>
    {% endfor %}
    </calcite-table>
{% endif %}
{# djlint:on #}
