<main class="dashboard">
    <h1>Payments</h1>
    <header class="header">
        <div>
            <form method="get" class="flex">
                <input type="hidden" name="status" value="{{ status|default:'' }}">
                <input type="hidden" name="filter" value="{{ filter|default:'' }}">
                <calcite-input type="search" name="search" placeholder="Client Name, Organization" icon="search" value="{{ search|default:'' }}">
                </calcite-input>
                <calcite-button type="submit">Search</calcite-button>
            </form>
            <a href="?search={{ search }}" class="{% if not status %}active{% endif %}">All</a>
            <a href="?search={{ search }}&status=pending" 
                class="{% if status == 'pending' %} active {% endif %}">Pending</a>
            <a href="?search={{ search }}&status=completed"
                class="{% if status == 'completed' %} active {% endif %}" >Completed</a>
            <a href="?search={{ search }}&status=failed" 
                class="{% if status == 'failed' %} active {% endif %}" >Failed</a>
            <a href="?search={{ search }}&status=refunded" 
                class="{% if status == 'refunded' %} active {% endif %}">Refunded</a>
        </div>
        <calcite-button href="{% url 'finances:payment_create' %}"  icon-start="plus">Manual Payment</calcite-button>
    </header>
    {% include 'payments/tables.html' %}
</main>
