{% extends "_base.html" %}
{% block title %}New Contract | Dumagete Guards{% endblock %}
{% block content %}
    {% include '_components/navbar.html' %}
    <div class="form-container">
        <header>
            <a href="{% url 'agency:show_contracts' %}">
                <calcite-icon icon="chevron-left"> </calcite-icon>
                Back to Contracts
            </a>
            <h1>New Contract</h1>
        </header>
        {% include "_partials/forms/contract_form.html" %}
    </div>
{% endblock %}
