{% extends "_base.html" %}
{% block title %}New Contract | Dumagete Guards{% endblock %}
{% block content %}
    {% include '_components/navbar.html' %}
    <div class="form-container">
        <header>
            {% comment %} <a href="{% url 'agency:show_contracts' %}" id="backButton"> {% endcomment %}
            <a href="#" id="backButton">
                <calcite-icon icon="chevron-left"> </calcite-icon>
                {% comment %} Back to Contracts {% endcomment %}
                Back
            </a>
            <h2>New Contract</h2>
            {% include "_partials/forms/contract_form.html" %}
        </header>
    </div>
{% endblock %}
