{% extends "_base.html" %}
{% block title %}New Contract | Dumagete Guards{% endblock %}
{% block content %}
    {% include '_components/navbar.html' %}
    <div class="form-container">
        <header>
            <a href="#" id="backButton">
                <calcite-icon icon="chevron-left"> </calcite-icon>
                Back to Contracts
            </a>
            <h2>New Contract</h2>
            {% include "_partials/forms/contract_form.html" %}
        </header>
    </div>
{% endblock %}
