{% extends '_base.html' %}
{% load static %}
{% block title %}Guard Profile | Guards{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/_profile.css' %}">
{% endblock %}
{% block content %}
    {% include '_components/navbar.html' %}
    <main class="container profile">
        <a href="{% url 'agency:show_guards' %}">
            <calcite-icon icon="chevron-left"> </calcite-icon>
            Back to Guards
        </a>
        <header>
            <div>
                <h1>{{ guard.user.get_full_name }}</h1>
                <p> <calcite-icon icon="check-shield" scale="s"></calcite-icon> {{ guard.badge_number }}</p>
            </div>
            <div>
                {% if guard.is_active %}
                    <calcite-button href="{% url 'agency:guard_toggle_status' guard.id %}" appearance="outline-fill">Deactivate Guard</calcite-button>
                {% else %}
                    <calcite-button href="{% url 'agency:guard_toggle_status' guard.id %}" appearance="outline-fill">Activate Guard</calcite-button>
                {% endif %}
                <calcite-button href="{% url 'agency:guard_update' guard.id %}">Edit</calcite-button>
            </div>
        </header>
        <section>
            <h3>Current Payroll</h3>
            <div class="space-between">
                <h1>$ 4,000.00</h1>
                <div class="end">
                    <p>Billing Date</p>
                    <h4>July 24, 2025</h4>
                </div>
            </div>
        </section>
        <section>
            <h3>Contact</h3>
            <div class="grid">
                <div>
                    <p>email</p>
                    <h4>
                        <calcite-icon scale="s" icon="envelope"></calcite-icon>  email
                    </h4>
                </div>
                <div>
                    <p>phone</p>
                    <h4>
                        <calcite-icon scale="s" icon="phone"></calcite-icon>  095235235235
                    </h4>
                </div>
                <div>
                    <p>address</p>
                    <h4>
                        <calcite-icon scale="s" icon="home"></calcite-icon>  My address
                    </h4>
                </div>
                <div>
                    <p>joined since</p>
                    <h4>
                        <calcite-icon scale="s" icon="user-plus"></calcite-icon>  {{ guard.created_at|date:"M d, Y" }}
                    </h4>
                </div>
            </div>
        </section>
        <section>
            <h3>Job History</h3>
            <p>guard 1</p>
            <p>guard 2</p>
        </section>
        <section>
            <h3>Invoice History</h3>
            <div>
                <p>kust 1</p>
                <p>kust 1</p>
                <p>kust 1</p>
            </div>
        </section>
    </main>
{% endblock %}
