{% extends '_base.html' %}
{% load static %}
{% block title %}Guard Page | Guards{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/_page.css' %}">
{% endblock %}
{% block content %}
    {% include '_components/navbar.html' %}
    <section class="dashboard container">
        <a href="{% url 'agency:home' %}">
            <calcite-icon icon="chevron-left"> </calcite-icon>
            Back to Agency Dashboard
        </a>
        <h1>Guards</h1>
        <header class="header">
            <div>
                <form method="get" class="flex">
                    <calcite-input type="search" name="search" placeholder="Search name and location`" icon="search" value="{{ search|default:'' }}">
                    </calcite-input>
                    <calcite-button type="submit">Search</calcite-button>
                </form>
                <a href="{% url 'agency:show_guards' %}"
                   class="{% if not status %}active{% endif %}">All</a>
                <a href="?status=available"
                   class="{% if status == 'available' %}active{% endif %}">Available</a>
                <a href="?status=on_duty"
                   class="{% if status == 'on_duty' %}active{% endif %}">On Duty</a>
                <a href="?status=leave"
                   class="{% if status == 'leave' %}active{% endif %}">On Leave</a>
                <a href="?status=suspended"
                   class="{% if status == 'suspended' %}active{% endif %}">Suspended</a>
            </div>
            <calcite-button href="{% url 'agency:guard_create' %}"  icon-start="plus">Add Guard</calcite-button>
        </header>
        {% include '_components/guard/card.html' %}
    </section>
{% endblock %}
