{% extends '_base.html' %}
{% load static %}
{% block title %}My Client Portal | Dumagete Guards{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/_profile.css' %}">
{% endblock %}
{% block content %}
    <div class="dashboard-container ">
        <aside class="dashboard-sidebar">
            {% include 'components/client-sidebar.html' %}
        </aside>
        <section class="dashboard-content">
            {% include 'components/client-navbar-dashboard.html' %}
            <main class="container-profile profile">
                <div>
                    <header>
                        <div>
                            <h1>{{ client.name }}</h1>
                            <p>{{ client.organization }}</p>
                        </div>
                        <div>
                            <calcite-button>Edit</calcite-button>
                        </div>
                    </header>
                    <div id="client-content">{% include "partials/content_client/overview.html" %}</div>
                </div>
            </main>
        </section>
    </div>
{% endblock %}
{% block extra_script %}
    <script src="{% static 'js/highlight.js' %}"></script>
{% endblock %}
