{% extends '_base.html' %}
{% load static %}
{% block title %}My Client Portal | Dumagete Agency{% endblock %}
{% block extra_head %}
    
{% endblock %}
{% block content %}
    {% include 'components/navbar.html' %}
    <section class="container">
        <h1>Client Portal</h1>
        <main>
          <div>
            <h1>My Information</h1>
          </div>
          <div>
            <h1>Current Guards</h1>
          </div>
            <div>
            <h1>Invoice</h1>
          </div>
          <div>
            <h1>History</h1>
          </div>
          <div>
            <h1>Report Views</h1>
            <h2>ArcGIS Survey 123</h2>
          </div>
        </main>
    </section>
{% endblock %}
