<form class="standard-form" method="post" action="{% url 'operations:deployment_update' deployment.pk %}">
    {% csrf_token %}
    
    {% if deployment %}
        <div class="form-group">
            <label>Contract</label>
            <calcite-input
                value="{{ deployment.contract.contract_number }} - {{ deployment.contract.client }}"
                disabled>
            </calcite-input>
        </div>
    {% endif %}

    <div class="form-group">
        <label for="{{ form.name.id_for_label }}">Deployment Name</label>
        {{ form.name }}
        {{ form.name.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.location.id_for_label }}">Location</label>
        {{ form.location }}
        {{ form.location.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.required_guards.id_for_label }}">Required Guards</label>
        {{ form.required_guards }}
        {{ form.required_guards.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.remarks.id_for_label }}">Remarks</label>
        {{ form.remarks }}
        {{ form.remarks.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.is_active.id_for_label }}">Active</label>
        {{ form.is_active }}
        {{ form.is_active.errors }}
    </div>
    <div class="form-button">

        <calcite-button type="submit">
        Save Deployment
        </calcite-button>
    </div>
</form>
