{{ formset.non_form_errors }}
{% for form in formset %}
    {{ form.errors }}
{% endfor %}
<form class="standard-form"
      method="post"
      action=" {% if contract %} {% url 'operations:deployment_create_contract' contract.id %} {% else %} {% url 'operations:deployment_create' %} {% endif %} ">
    {% csrf_token %}
    {{ formset.management_form }}
    <div id="deployment-forms">
        {% for form in formset %}
            <div class="deployment-card">
                <h3>Deployment {{ forloop.counter }}</h3>
                {% include "_partials/_forms/deployment_form.html" with form=form %}
            </div>
        {% endfor %}
    </div>
    <!-- Hidden Template -->
    <template id="empty-form">
        <div class="deployment-card">
            <h3>Deployment</h3>
            {% include "_partials/_forms/deployment_form.html" with form=formset.empty_form %}
        </div>
    </template>
    <div class="form-button">
        <calcite-button id="add-deployment" appearance="outline" type="button" icon="plus">Add Deployment</calcite-button>
        <calcite-button type="submit">Save All Deployments</calcite-button>
    </div>
</form>
