{% if not guards %}
    {# djlint:off #}
    <calcite-notice open kind="info">
        <div slot="message">No guards found.</div>
    </calcite-notice>
    {# djlint:on #}
{% endif %}
{% for guard in guards %}
    <a href="{% url 'agency:guard_profile' guard.id %}" class="list-card">
        <div class="space-between">
            <div>
                <div class="column">
                    <h2>
                        {{ guard.first_name|default:"Unknown" }}
                        {% if guard.middle_name %}
                            {{ guard.middle_name|slice:":1" }}.
                        {% endif %}
                        {{ guard.last_name }}
                    </h2>
                    {% if guard.is_active %}
                        <calcite-chip appearance="outline-fill">active</calcite-chip>
                    {% else %}
                        <calcite-chip>inactive</calcite-chip>
                    {% endif %}
                </div>
                <p>
                    <calcite-icon icon="check-shield" scale="s"></calcite-icon>
                    {{ guard.badge_number|default:"N/A" }}
                </p>
            </div>
        </div>
        <div>
            <p>
                <calcite-icon icon="home" scale="s"></calcite-icon>
                {{ guard.address|default:"N/A" }}
            </p>
            <p>
                <calcite-icon icon="phone" scale="s"></calcite-icon>
                {{ guard.phone_number }}
            </p>
            <p>
                <calcite-icon icon="user-plus" scale="s"></calcite-icon> {{ guard.created_at|date:"M d, Y" }}
            </p>
        </div>
    </a>
{% endfor %}
