{# djlint:off #}
{% for contract in contracts %}

<div class="contract-deployment-card">

    <div class="contract-header">
        <div>
            <h3>{{ contract.client.name }}</h3> 
            <p>{{ contract.client.organization }}</p>
            <p>{{ contract.contract_number }} </p>
        </div>
        <div class="divider">
            <calcite-button
                icon-start="plus"
                appearance="outline"
                href="{% url 'operations:deployment_create_contract' contract.id %}">
                Add Deployment
            </calcite-button>
            <small> <calcite-icon icon="date-time" scale="s"></calcite-icon>  {{ contract.start_date|date:"m/d/y" }} -- {{ contract.end_date|date:"m/d/y" }}</small>
        </div>
    </div>

    <div class="contract-summary">

        <calcite-chip>
            {{ contract.deployments.count }} Deployments
        </calcite-chip>

        <calcite-chip>
            {{contract.assigned_guard_count }} / {{ contract.number_of_guards }} Guards
        </calcite-chip>

        {% if contract.status == "ongoing" %}
            <calcite-chip kind="success">
                Active
            </calcite-chip>
        {% else %}
            <calcite-chip>
                {{ contract.get_status_display }}
            </calcite-chip>
        {% endif %}
    </div>

    {% include '_partials/deployment/table.html' %}

</div>

{% empty %}
    <calcite-notice open kind="info">
        <div slot="message">
            No contracts found.
        </div>
    </calcite-notice>
{% endfor %}
{# djlint:on #}
