{# djlint:off #}
<calcite-table bordered numbered>

    <calcite-table-row slot="table-header">
        <calcite-table-header heading="Guard Name"></calcite-table-header>
        <calcite-table-header heading="Guard ID"></calcite-table-header>
        <calcite-table-header heading="Assigned at"></calcite-table-header>
        <calcite-table-header heading="Status"></calcite-table-header>
        <calcite-table-header heading="Actions" alignment="end"></calcite-table-header>
    </calcite-table-row>

    {% for assignment in assignments %}

    <calcite-table-row>
        <calcite-table-cell>
            <strong>
                {{assignment.guard.first_name}} 
                    {% if assignment.guard.middle_name %}
                        {{ assignment.guard.middle_name|slice:":1" }}.
                    {% endif %}
                {{assignment.guard.last_name}}</strong>
            <br>
        </calcite-table-cell>
                <calcite-table-cell>
            {{ assignment.guard.badge_number }}
        </calcite-table-cell>

        <calcite-table-cell>
            {{ assignment.created_at|date:"m/d/y" }}
        </calcite-table-cell>
        <calcite-table-cell>
            {% if assignment.status == "ACTIVE" %}
                <calcite-chip kind="brand">
                    Active
                </calcite-chip>
            {% elif assignment.status == "ENDED" %}
                <calcite-chip kind="inverse" appearance="outline-fill">
                    Ended
                </calcite-chip>
            {% else %}
                <calcite-chip kind="neutral" appearance="outline-fill">
                    Cancelled
                </calcite-chip>
            {% endif %}
        </calcite-table-cell>

        <calcite-table-cell alignment="end">
            <calcite-dropdown placement="bottom-end">
                <calcite-action
                    slot="trigger"
                    icon="ellipsis">
                </calcite-action>
                <calcite-dropdown-group selection-mode="none">
                    <calcite-dropdown-item
                        href="{% url 'agency:guard_profile' assignment.guard.id %}">
                        View Guard
                    </calcite-dropdown-item>
                </calcite-dropdown-group>
            </calcite-dropdown>
        </calcite-table-cell>
    </calcite-table-row>

    {% empty %}
    <calcite-table-row>
        <calcite-table-cell colspan="5">
            No deployments yet.
        </calcite-table-cell>
    </calcite-table-row>
    {% endfor %}

</calcite-table>
{# djlint:on #}
