{# djlint:off #}
<calcite-block
    collapsible
    heading="View Deployments">

    <calcite-table bordered striped numbered>

        <calcite-table-row slot="table-header">
            <calcite-table-header heading="Deployment"></calcite-table-header>
            <calcite-table-header heading="Location"></calcite-table-header>
            <calcite-table-header heading="Required Guards"></calcite-table-header>
            <calcite-table-header heading="Assigned Guards"></calcite-table-header>
            <calcite-table-header heading="Created at"></calcite-table-header>
            <calcite-table-header heading="Status"></calcite-table-header>
            <calcite-table-header heading="Actions" alignment="end"></calcite-table-header>
        </calcite-table-row>

        {% for deployment in contract.deployments.all %}

        <calcite-table-row>

            <calcite-table-cell>
                {{ deployment.name }}
            </calcite-table-cell>
            <calcite-table-cell>
                {{ deployment.location }}
            </calcite-table-cell>
            <calcite-table-cell>
                <strong>
                    {{ deployment.required_guards }}
                </strong>
            </calcite-table-cell>
            <calcite-table-cell>
                <strong>
                    <p>{{ deployment.assignments.count }}</p>
                </strong>
            </calcite-table-cell>
            <calcite-table-cell>
                {{ deployment.created_at|date:"m/d/y" }}
            </calcite-table-cell>
            <calcite-table-cell>
                {% if deployment.is_active %}
                    <calcite-chip kind="brand">
                        Active
                    </calcite-chip>
                {% else %}
                    <calcite-chip kind="neutral" appearance="outline-fill">
                        Inactive
                    </calcite-chip>
                {% endif %}
            </calcite-table-cell>

            <calcite-table-cell alignment="end">
                <calcite-dropdown placement="bottom-end">
                    <calcite-action
                        slot="trigger"
                        icon="ellipsis">
                    </calcite-action>
                    <calcite-dropdown-group selection-mode="none">
                        <calcite-dropdown-item
                            href="{% url 'operations:deployment_detail' deployment.id %}">
                            View Deployment
                        </calcite-dropdown-item>
                        <calcite-dropdown-item
                            href="{% url 'operations:assignment_create_deployment' deployment.id %}">
                            Assign Guard
                        </calcite-dropdown-item>
                        <calcite-dropdown-item
                            href="{% url 'operations:deployment_update' deployment.id %}">
                            Edit Deployment
                        </calcite-dropdown-item>
                    </calcite-dropdown-group>
                </calcite-dropdown>
            </calcite-table-cell>
        </calcite-table-row>

        {% empty %}
        <calcite-table-row>
            <calcite-table-cell colspan="5">
                No deployments yet.
            </calcite-table-cell>
        </calcite-table-row>
        {% endfor %}

    </calcite-table>

</calcite-block>
{# djlint:on #}
