<main class="profile">
    <section>
        <h2>General Contract</h2>
        <div class="grid">
            <div>
                <p>total contract</p>
                <h4>
                    <calcite-icon scale="s" icon="files"></calcite-icon>
                    {{ total_contracts }}
                </h4>
            </div>
            <div>
                <p>active contract</p>
                <h4>
                    <calcite-icon scale="s" icon="date-time"></calcite-icon>
                    {{ active_contracts.count }}
                </h4>
            </div>
            <div>
                <p>finished contract</p>
                <h4>
                    <calcite-icon scale="s" icon="register"></calcite-icon>
                    {{ finished_contracts }}
                </h4>
            </div>
            <div>
                <p>cancelled contract</p>
                <h4>
                    <calcite-icon scale="s" icon="unregister"></calcite-icon>
                    {{ cancelled_contracts }}
                </h4>
            </div>
        </div>
    </section>
    <section>
        <div class="space-between">
            <h2>Active Contracts</h2>
            <calcite-button icon-start="plus" label="Add New Contract"  scale="s" appearance="outline-fill" href="{% url 'agency:contract_create_client' client.id %}">Add Contract</calcite-button>
        </div>
        <div>
            {% include 'client/table/table_contract_active.html' %}
        </div>
    </section>
    <section>

        <h2>Contract History</h2>
        {% include 'client/table/table_contract_history.html' %}

    </section>
</main>
