<main class="profile">
    <div>
        <h2>Overview</h2>
        {% include 'client/card/card_overview.html' %}
    </div>
    <section>
        <h2>Client Information</h2>
        <div class="grid">
            <div>
                <p>client name</p>
                <h4>
                    <calcite-icon scale="s" icon="address-book"></calcite-icon>
                    {{ client.name }}
                </h4>
            </div>
            <div>
                <p>client id</p>
                <h4>
                    <calcite-icon scale="s" icon="license"></calcite-icon>
                    {{ client.client_id }}
                </h4>
            </div>
            <div>
                <p>joined at</p>
                <h4>
                    <calcite-icon scale="s" icon="user-plus"></calcite-icon>
                    {{ client.created_at|date:"M d, Y" }}
                </h4>
            </div>
        </div>
    </section>
    <section>
        <div class="space-between">
            <h2>Active Contracts</h2>
            <calcite-button icon-start="plus" label="Add New Contract" appearance="outline-fill" scale="s" href="{% url 'agency:contract_create_client' client.id %}">Add Contract</calcite-button>
        </div>
        <div>{% include 'client/table/table_contract_active.html' %}</div>
    </section>
</main>
