{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/_global.css' %}">
        <script type="module" src="https://js.arcgis.com/5.1/"></script>
        <script src="{% static 'lib/htmx.min.js '%}"></script>
        <script src="{% static 'lib/chart.js '%}"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block extra_script %}{% endblock %}
        <script src="{% static 'js/hydration.js' %}"></script>
        <script src="{% static 'js/back.js' %}"></script>
    </body>
</html>
