@import url("dashboard.css");
@import url("profile_container.css");
@import url("profile_navbar.css");

.profile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile header {
  display: flex;
  justify-content: space-between;
}

.profile header h1 {
  text-transform: capitalize;
  margin: 0 auto;
}

.profile p {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.profile a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out;
}

.profile a:hover {
  color: var(--calcite-color-brand);
}

.profile section {
  border: 1px solid var(--calcite-color-border-1);
  background-color: var(--calcite-color-surface-2);
  padding: 2rem;
}

.profile .space-between {
  display: flex;
  justify-content: space-between;
}

.profile .end {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.profile .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1rem;
}

.profile .grid p {
  text-transform: capitalize;
}

.profile .grid h4 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile .space-between {
  display: flex;
  justify-content: space-between;
}

.profile .column {
  display: flex;
  align-items: center;
  gap: 0.5rem
} 

.profile .card-vertical-space {
  padding: 1rem;
}