.deployment-create-container {
    display: flex;
    gap: 1rem;
}

.contract_content {
    background-color: var(--calcite-color-surface-2);
    border: solid 1px var(--calcite-color-border-1);
    padding: 1rem;
}

.contract_content .detail-item {
    margin-top: 1rem;
}