.dashboard-sidebar {
  position: sticky;
  top: 0;
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--calcite-color-surface-2);
  border-right: 1px solid var(--calcite-color-border-1);
}

.dashboard-sidebar .sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 2rem;
  height: 89px;
  border-bottom: 1px solid var(--calcite-color-border-1);
  display: flex;
  align-items: center;
}

.sidebar main {
  display: flex;
  flex-direction: column;
}

.sidebar main a {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--calcite-color-text-1);
  transition: 0.2s ease-in-out;
}

.sidebar main a:hover {
  background-color: var(--calcite-color-brand);
  color: var(--calcite-color-surface-2);
  cursor: pointer;
}

.sidebar-link.active {
  color: var(--calcite-color-surface-2);
  background-color: var(--calcite-color-brand-hover);
  border-left: 8px solid var(--calcite-color-brand-press);
}

.dashboard-content {
  width: calc(100vw - 400px);
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
