{% extends '_base.html' %}
{% load humanize %}
{% load static %}
{% block title %}Billing Details | Dumagete Guards{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/_profile.css' %}">
{% endblock %}
{% block content %}
    {% include '_components/navbar.html' %}
    <main class="container profile">
        <a href="{% url 'finances:finances_billings' %}" id="backButton">
            <calcite-icon icon="chevron-left"> </calcite-icon>
            Back to Billings
        </a>
        <header>
            <div>
                <h1>Billing Details</h1>
                <p>{{ billing.billing_number }}</p>
            </div>
            <div>
                <calcite-button href="{% url 'finances:billing_edit' billing.id %}">Edit</calcite-button>
            </div>
        </header>
        <section>
            <h2>Total Amount</h2>
            <div class="grid">
                <div>
                    <h1>₱ {{ billing.total_amount|floatformat:2|intcomma }}</h1>
                </div>
                <div>
                    <p>Taxes</p>
                </div>
            </div>
        </section>
        <section>
            <h2>General Information</h2>
            <div class="grid">
                <div>
                    <p>Billing ID</p>
                    <h4>{{ billing.billing_number }}</h4>
                </div>
                <div>
                    <p>Date Issue</p>
                </div>
                <div>
                    <p>Scope</p>
                </div>
            </div>
        </section>

        <section>
            <h2>Contract Information</h2>
            <div class="grid">
                <div>
                    <p>Contract Title</p>
                    <h4>{{ billing.contract.title}}</h4>
                </div>
                <div>
                    <p>Contract ID</p>
                    <h4>{{ billing.contract.contract_number}}</h4>
                </div>
                <div>
                    <p>Client Name</p>
                    <h4>{{ billing.contract.client.name}}</h4>
                </div>
                <div>
                    <p>Client ID</p>
                    <h4>{{ billing.contract.client.client_id}}</h4>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
