{% extends '_base.html' %}
{% load static %}
{% block title %}Billing Details | Dumagete Guards{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/_profile.css' %}">
{% endblock %}
{% block content %}
    {% include '_components/navbar.html' %}
    <main class="container profile">
        <a href="{% url 'finances:finances_billings' %}" id="backButton">
            <calcite-icon icon="chevron-left"> </calcite-icon>
            Back to Billings
        </a>
        <header>
            <div>
                <h1>Billing Details</h1>
                <p>{{ billing.billing_number }}</p>
            </div>
            <div>
                <calcite-button href="{% url 'finances:billing_edit' billing.id %}">Edit</calcite-button>
            </div>
        </header>
        <section>
            <p>Some information</p>
        </section>
    </main>
{% endblock %}
