{% extends "_base.html" %}
{% load static %}
{% block title %}Assignment Detail | Dumagete Guards{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/overview.css' %}">
{% endblock %}
{% block content %}
    {% include "_components/navbar.html" %}
    <main class="container profile">
        <a href="#" id="backButton">
            <calcite-icon icon="chevron-left"> </calcite-icon>
            Back to Operation Dashboard
        </a>
        <header>
            <div>
                <div class="column">
                    <h1>Assignment Detail</h1>
                    {% if assignment.status == "ACTIVE" %}
                        <calcite-chip kind="brand" appearance="solid">
                        Active
                        </calcite-chip>
                    {% elif assignment.status == "ENDED" %}
                        <calcite-chip kind="inverse" appearance="outline-fill">
                        Ended
                        </calcite-chip>
                    {% else %}
                        <calcite-chip kind="neutral" appearance="outline">
                        Cancelled
                        </calcite-chip>
                    {% endif %}
                </div>
                <div>
                    <div>{{ assignment.start_date }} - {{ assignment.end_date }}</div>
                </div>
            </div>
            <div>
                <calcite-button href="{% url 'operations:assignment_edit_view' assignment.pk %}">Edit Assignment</calcite-button>
            </div>
        </header>
        <section>
            <h2>Assigned Guard</h2>
            <div>{{ assignment.guard }}</div>
        </section>

        <div class="dashboard-column">
        <section>
            <h2>Deployment Information</h2>
            <div class="grid">
                <div>
                    <p>Name</p>
                    <h4>{{ assignment.deployment.name }}</h4>
                </div>
                <div>
                    <p>Location</p>
                    <h4>{{ assignment.deployment.location }}</h4>
                </div>
                <div>
                    <p>Remarks</p>
                    <h4>{{ assignment.deployment.remarks }}</h4>
                </div>
            </div>
        </section>
        <section>
            <h2>Contract Information</h2>
            <div class="grid">
                <div>
                    <p>Client Name</p>
                    <h4>{{ assignment.deployment.contract.client.name }}</h4>
                </div>
                <div>
                    <p>Client Organization</p>
                    <h4>{{ assignment.deployment.contract.client.organization }}</h4>
                </div>
                <div>
                    <p>Contract Number</p>
                    <h4>{{ assignment.deployment.contract.contract_number }}</h4>
                </div>
                <div>
                    <p>Contract Span</p>
                    <h4>{{ assignment.deployment.contract.start_date|date:'m/d/y' }} - {{ assignment.deployment.contract.end_date|date:'m/d/y' }}</h4>
                </div>
            </div>
        </section>
        </div>

    {% endblock %}
</main>
{% block extra_script %}
    <script src="{% static 'js/addForm.js' %}"></script>
{% endblock %}
