<div class="overview-container">
    <div class="dashboard-card-small">
        <p>Total</p>
        <h1>
            <calcite-icon icon="users"></calcite-icon>  {{ total_guards }}
        </h1>
    </div>
    <div class="dashboard-card-small">
        <p>On Duty</p>
        <h1>
            <calcite-icon icon="user-calendar"></calcite-icon> {{ active_guards }}
        </h1>
    </div>
    <div class="dashboard-card-small">
        <p>Completed</p>
        <h1>
            <calcite-icon icon="projects"></calcite-icon> {{ inactive_guards }}
        </h1>
    </div>
</div>
