{% load humanize %}
<div class="overview-container">
    <div class="dashboard-card">
        <p>Total Contracts</p>
        <h1>
            <calcite-icon icon="files"></calcite-icon>  {{ total_contracts }}
        </h1>
    </div>
    <div class="dashboard-card">
        <p>Total Assigned Guards</p>
        <h1>
            <calcite-icon icon="users"></calcite-icon> {{ total_guards }}
        </h1>
    </div>
    <div class="dashboard-card">
        <p>Total Paid</p>
        <h1><span>₱</span>  {{ total_payments|floatformat:2|intcomma }}</h1>
    </div>
    <div class="dashboard-card">
        <p>Remaining Balance</p>
        <h1><span>₱</span>  {{ total_balance|floatformat:2|intcomma }}</h1>
    </div>
</div>
