{% extends "_base.html" %}
{% block title %}Edit Client | Dumagete Guards{% endblock %}
{% block content %}
    {% include '_components/navbar.html' %}
    <div class="form-container">
        <header>
            {% comment %} <a href="{% url 'agency:client_overview' client.id %}" id="backButton"> {% endcomment %}
            <a href="#" id="backButton">
                <calcite-icon icon="chevron-left"> </calcite-icon>
                {% comment %} Back to Client Profile {% endcomment %}
                Back
            </a>
            <h2>Edit Client</h2>
            <p>
                <calcite-icon icon="employee-id" scale="s"></calcite-icon>
                {{ client.client_id |default:"N/A" }}
            </p>
            {% include "_partials/forms/client_form.html" %}
        </header>
    </div>
{% endblock %}
