{% extends '_base.html' %}
{% load static %}
{% block title %}Client Profile | Dumagete Guards{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/_profile.css' %}">
{% endblock %}
{% block content %}
    <div class="dashboard-container ">
        <aside class="dashboard-sidebar">
            {% include '_components/sidebar.html' %}
        </aside>
        <section class="dashboard-content">
            {% include '_components/navbar-dashboard.html' %}
            <main class="container-profile profile">
                <a href="{% url 'agency:show_clients' %}">
                    <calcite-icon icon="chevron-left"> </calcite-icon>
                    Back to Clients
                </a>
                <div>
                    <header>
                        <div>
                            <h1>{{ client.name }}</h1>
                            <p> <calcite-icon icon="employee-id" scale="s"></calcite-icon> {{ client.client_id }}  </p>
                            <p> <calcite-icon icon="organization" scale="s"></calcite-icon> {{ client.organization }}</p>
                        </div>
                        <div>
                            {% if client.is_active %}
                                <calcite-button href="{% url 'agency:client_toggle_status' client.id %}" appearance="outline-fill">Deactivate Client</calcite-button>
                            {% else %}
                                <calcite-button href="{% url 'agency:client_toggle_status' client.id %}" appearance="outline-fill">Activate Client</calcite-button>
                            {% endif %}
                            <calcite-button href="{% url 'agency:client_update' client.id %}">Edit</calcite-button>
                        </div>
                    </header>
                    <div id="client-content">{% include "_partials/content_client/overview.html" %}</div>
                </div>
            </main>
        </section>
    </div>
{% endblock %}
{% block extra_script %}
    <script src="{% static 'js/highlight.js' %}"></script>
{% endblock %}
