{% extends "_base.html" %}
{% block title %}New Client | Dumagete Guards{% endblock %}
{% block content %}
    {% include '_components/navbar.html' %}
    <div class="form-container">
        <header>
            <a href="{% url 'agency:show_clients' %}">
                <calcite-icon icon="chevron-left"> </calcite-icon>
                Back to Clients
            </a>
            <h2>New Client</h2>
        </header>
        {% include "_partials/forms/client_form.html" %}
    </div>
{% endblock %}
